/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
        #Site Styles
        #Page Styles
        #Media Queries
        #Font-Face */

/* #Site Styles
================================================== */

@font-face {
    font-family: 'neotechbold';
    src: url('../font/neotech-bold-webfont.eot');
    src: url('../font/neotech-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/neotech-bold-webfont.woff') format('woff'),
        url('../font/neotech-bold-webfont.ttf') format('truetype'),
        url('../font/neotech-bold-webfont.svg#neotechbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Stili generici */

body {
    background: url('../img/debut_light.png') #FFFFFF repeat;
    font-family: helvetica;
    /*    font-family: arial, helvetica, verdana, sans-serif;*/
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
     color: #333333;
    font-family: 'neotechbold';
}

a {
    color: #333333;
    text-decoration: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s;
}

a:hover {
    color:#3399CC;
    text-decoration: none;
}

.blu-divider {
    width: 100%;
    height: 8px;
    margin: 0;
    background: #3399CC;
}

.black-divider {
    width: 100%;
    height: 8px;
    margin: 0;
    background: #000000;
}

.magenta-divider {
    width: 100%;
    height: 8px;
    margin: 0;
    background: #FF0066;
}

header h1, header h2 {
    color: #333333;
}

header h1 {
    margin: 20px 0 0;
    font-size: 60px;
    text-shadow: 0px 2px 3px #666666;
}

header h2 {
    font-size: 45px;
    margin: 20px 0;
}

header h3 {
    font-size: 24px;
}

#sub-nav {
    text-align: right;
}

/* Menu di Navigazione e search bar */

#search {
    margin: 0 4px 0 0;
    float: right;
}

#search ul {
    overflow:  hidden;
    padding-left: 6px;
}

#search ul li {
    float:  left;
}

#search #btnSrc span {
    display: none;
}

#search #btnSrc, #search #inptSrc {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s;
}

#search #btnSrc {
    background: url('../img/lente.png') #3399CC no-repeat center center;
    border: none;
    outline: none;
    border-radius: 0 0 4px 4px;
    width: 50px;
    height: 38px;
    margin: 0 4px 0 0;
}

#search #inptSrc {
    border: 1px solid #3399CC;
    border-radius: 0 0 4px 4px;
    outline: none;
    box-shadow: none;
    width: 165px;
    height: 36px;
    padding: 0 0 0 10px;
    text-align: center;
    font-family: 'neotechbold';
    color: #FFFFFF;
    background-color: #3399CC;    
}
#search #btnSrc:focus, #search #btnSrc:hover,
#search #inptSrc:focus , #search #inptSrc:hover {
    color: #FFFFFF;
    background-color: #000000;  
    border: 1px solid #000000;  
}

#inptSrc::-webkit-input-placeholder {
    color: #FFFFFF;
}

#inptSrc:-moz-placeholder {
    color: #FFFFFF;
}

#inptSrc:-ms-input-placeholder {
    color: #FFFFFF;
}

/* Social Icon */

#social {
    overflow: hidden;
    clear: both;
    float: right;
}

#social li {
    float: left;
    margin: 0 5px;
}

#social li a {
    display: block;
    width: 50px;
    height: 50px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s; 
    -o-transition: all 1s;
}

#social li a span {
    display: none;
}

#social li #social-facebook {
    background: url('../img/facebook-icon.png') transparent center 0;
}

#social li #social-ebay {
    background: url('../img/ebay-icon.png') transparent center 0;
}

#social li #social-rss {
    background: url('../img/rss-icon.png') transparent center 0;
}

#social li #social-contatti {
    background: url('../img/contatti-icon.png') transparent center 0;
}

#social li #social-facebook:hover {
    background: url('../img/facebook-icon.png') transparent center -50px;
}

#social li #social-ebay:hover {
    background: url('../img/ebay-icon.png') transparent center -50px;
}

#social li #social-rss:hover {
    background: url('../img/rss-icon.png') transparent center -50px;
}

#social li #social-contatti:hover {
    background: url('../img/contatti-icon.png') transparent center -50px;
}

/* Stili per il menu di navigazione */

#menu ul {
    margin: 10px 0;
    overflow: hidden;
}

#menu ul .menu-button {
    float: left;
    height: 35px;
    margin: 0 0 10px 0;
    padding: 0 5px;
    border-radius: 4px;
    background-color: #3399CC;
    color: #FFFFFF;
    font: 24px/35px 'neotechbold';
    text-transform: uppercase;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s;
}

#menu ul .menu-button:hover {
    cursor: pointer;
    background-color: #000000;
}

#menu ul li.accessori {
    background: #FF0066;
    margin-left: 40px;
}

#menu ul li.pirotecnica {
    background: #FFCC00;
    margin-left:40px;
}

#menu ul li.news {
    background-color: #99CC33;
    margin-left: 40px;
}

#menu ul li.info {
    background-color: #000000; 
    margin-left: 72px;
}

#menu ul li.info:hover {
    background-color: #3399CC;
}

#menu span {
    position: relative;
}

#menu .menu-wrapper {
    display: none;
    width: 900px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    z-index: 1001;
}

#menu .travestimenti .menu-wrapper {
    background-color: #3399CC;
}

#menu .accessori .menu-wrapper {
    background-color: #FF0066;
}

#menu .pirotecnica .menu-wrapper {
    background-color: #FFCC00;
}

#menu .info .menu-wrapper {
    background-color: #000000;
}

#menu .menu-wrapper ul {
    margin: 0;
    padding: 0;
    background: url('../img/debut_light.png') #FFFFFF repeat;
    border-radius: 2px;
    min-height: 260px;
}

.menu-wrapper ul .elenco {
    padding: 20px;
    float: left;
}

.menu-wrapper ul .elenco ul li{
    margin: 2px;
    color: #FFFFFF;
}

.menu-wrapper ul li h2 {
    margin: 10px 0;
    color: #333333;
    font: 24px/18px 'neotechbold';
}

.menu-wrapper ul li a {
    color: #333333;
    font: bold 14px/14px arial, sans-serif;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s;
}

.menu-wrapper ul li a:hover {
    color: #3399CC;
    font: bold 14px/14px arial, sans-serif;
    text-decoration: underline;
}

/* Stili specifici per la sezione degli otto prodotti in evidenza */ 

#in-evidenza article {
    width: 216px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}

#in-evidenza article header h3 {
    margin: 10px 15px;
    font: 24px/24px 'neotechbold';
}

#in-evidenza article header h4 {
    margin: 0 15px;
    text-align: right;
    font: 14px/14px 'neotechbold';
}

#in-evidenza article figure {
    width: 180px;
    margin:  5px auto 15px;
    border: 1px solid #CCC;
}

#in-evidenza article figure img {
    width: 180px;
    height: 180px;
    display: block;
}

/* Stili specifici per il Blog */

/*#article-container {
    margin-top: 20px;
}*/

#article-container article {
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    border: 2px solid #CCC;
    background-color: #FFFFFF;
}

#article-container article h2 {
    margin: 0 0 40px;
}

#article-container article .data {
    width: 120px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: -20px;
    background-color: #99CC33;
    border-radius: 4px;
}

#article-container article .data h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
}

#article-container article figure {
    max-width: 480px;
    margin: 0 auto;
}

#article-container article figure img{
    max-width: 480px;
}

#article-container article p {
    line-height: 1.5em;
}

#article-container article p a {
    color: #3399CC;
    font-weight: bold;
    text-decoration: none;
}

#article-container article p a:hover {
    text-decoration: underline;
}

#article-container article ul {
    list-style-type: disc;
}

#article-container article ul,
#article-container article ol {
    margin: 10px 0;
    padding: 0 20px;
}

#article-container article .comment-link {
    padding: 5px;
    border-radius: 4px;
    background-color: #3399CC;
    display: block;
    float: right;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s;
}

#article-container article .comment-link:hover {
    color: #FFFFFF;
    background-color: #000000;
}

#article-container article .article-tags, 
#article-container article .article-category {
    margin: 0;
    padding: 0;
    clear: both;
}

article .article-tags li, 
article .article-category li{
    display: inline;
    padding: 5px;
}

article .article-tags li a, 
article .article-category li a{
    color: #3399CC;
    font-weight: bold;
}

article .article-tags li a:hover, 
article .article-category li a:hover{
    text-decoration: underline;
}

/* Stili specifici per la sezione categoria */

#category-description {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}

#elenco-prodotti article {
    width: 188px;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}

#elenco-prodotti article header h3 {
    margin: 10px 0;
    font: 18px/18px 'neotechbold';
}

#elenco-prodotti article header h4 {
    margin: 0 15px;
    text-align: right;
    font: 14px/14px 'neotechbold';
}

#elenco-prodotti article figure {
    width: 180px;
    height: 240px;
    margin:  5px auto 15px;
    border: 1px solid #CCC;
}

#elenco-prodotti article figure img {
    width: 180px;
    height: 240px;
    display: block;
}

/* Stili per il prodotto singolo */

#prodotto-singolo article {
    width: 656px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}

#prodotto-singolo .prodotto-correlato {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    background-color: #FFFFFF;
    border:none;
    border-radius: 0;
}

.prodotto-correlato figure {

}

.prodotto-correlato img  {
    max-width: 136px;
}

/* Pulsanti alla fine delle due sezioni prodotti in evidenza e news */

#more-prodotti, #more-news {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#more-prodotti a, #more-news a {
    width: 200px;
    height: 35px;
    padding: 0 10px 0;
    border-radius: 4px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font: 16px/35px 'neotechbold';
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s;
}

#more-prodotti a{
    background-color: #3399CC;
}

#more-news a{
    background-color: #99CC33;
}

#more-prodotti a:hover, #more-news a:hover {
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: underline;
}

/* Stili specifici per la Sidebar */

#sidebar.offset-by-one {
    margin-left: 60px;
}

#sidebar {
    width: 298px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    border-radius: 4px;
    border: 2px solid #CCC;
    background-color: #FFFFFF;
}

#sidebar-small {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 176px;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid #CCC;
    background-color: #FFFFFF;
}

#sidebar ul li, #sidebar-small ul li {
    margin: 4px 0;
}

#sidebar h2 {
    margin: 10px 0;
}

#brand article {
    margin-top: 20px;
    margin-bottom: 20px;
}

#brand article figure {
    margin: 0 auto;
}

/* Stili specifici per il footer */

footer {
    width: 100%;
    margin: 20px 0 0;
    background: url('../img/debut_dark.png') #333333 repeat;
}

#footer-menu {
    margin-top: 40px;
    color: #FFFFFF;
}

#footer-menu h1, #footer-menu h2 {
    color: #444444;
    text-shadow: 0px 2px 3px #000000;
    text-align: right;
}

#footer-menu h3, #footer-menu h4, #footer-menu a {
    color: #FFFFFF;
}

#footer-menu h1 {
    margin: 20px 0 0;
    font-size: 60px;
}

#footer-menu h2 {
    font-size: 24px;
}

#footer-menu h3 {
    margin: 40px 0 20px;
    font: 24px/24px 'neotechbold';
}

#footer-menu hgroup {
    margin-top: 40px;
}

#footer-menu nav ul li {
    margin: 5px 0;
}

#footer-menu nav ul li a{
    display: block;
    width: 90%;
    height: 35px;
    padding: 0 10px 0;
    border-radius: 4px;
    color: #FFFFFF;
    font: 18px/35px 'neotechbold';
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s;
}

#footer-menu nav ul li a:hover {
    color: #FFFFFF;
}

#footer-menu #nav-social ul li a {
    background-color: #FF0066; 
}

#footer-menu #nav-categorie ul li a {
    background-color: #3399CC;
}

#footer-menu #nav-categorie ul li a:hover {
    background-color: #000000; 
}

#footer-menu #nav-social ul li a {
    background-color: #FF0066;
}

#footer-menu #nav-social ul li a:hover {
    background-color: #000000; 
}

#footer-menu #nav-informazioni ul li a {
    background-color: #99CC33; 
}

#footer-menu #nav-informazioni ul li a:hover {
    background-color: #000000; 
}

#sub-footer {
    width: 100%;
    height: 548px;
    background: url('../img/footer.png') transparent no-repeat center center;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

